body {
  margin: 0;
  padding: 0;
}

.navbar-collapse {
  background-color: #f0f0f0; /* Mobile dropdown background */
}

.navbar-nav > li > a {
  color: #333;
}

.section {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 700px;
  border: 1px solid #ddd;
}

.back-link {
  display: block;
  margin-top: 20px;
  text-align: center;
}
