body {
  margin: 0;
  padding: 0;
}

.section-box {
  height: 1000px;
  background-color: #f2f2f2;
  padding: 20px;
}

.navbar-collapse {
  background-color: #e6e6e6; /* Mobile dropdown background */
}

.navbar-nav > li > a {
  color: #333;
}
